<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="Marathon Digital Holdings - Recent News"
        href="static/file/rss.xml">

    <title>Quote :: Marathon Digital Holdings (MARA)</title>

    <link rel="canonical" href="">
    <meta property="og:url" content="https://ir.mara.com/stock-data/quote">


    <meta property="og:site_name" content="Marathon Digital Holdings">
    <meta property="og:title" content="Quote">
    <meta property="og:type" content="website">

    <meta property="og:image"
        content="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/db/304/4423/social_image_resized.jpg">
    <meta name="twitter:card" content="summary_large_image">




    <script type="application/ld+json">
	{"@context":"http:\/\/schema.org","@type":"Corporation","name":"Marathon Digital Holdings","address":{"@type":"PostalAddress","streetAddress":"101 NE 3rd Avenue Suite 1200","addressLocality":"Fort Lauderdale, FL","postalCode":"33301","addressCountry":""},"legalName":"Marathon Digital Holdings","description":"Marathon Digital Holdings (NASDAQ: MARA) is one of the largest, most agile, and most sustainably operated Bitcoin miners in North America. The company converts energy into economic value by processing Bitcoin transactions, creating newly minted Bitcoin (\"BTC\"), and keeping Bitcoin's distributed ledger up to date and secure.","tickerSymbol":": MARA","url":"https:\/\/ir.mara.com","logo":"https:\/\/d1io3yog0oux5.cloudfront.net\/_e48fc4cf4b00386f44ddd5a61029a3bd\/marathondh\/logo.png","image":"https:\/\/d1io3yog0oux5.cloudfront.net\/_e48fc4cf4b00386f44ddd5a61029a3bd\/marathondh\/db\/304\/4423\/social_image_resized.jpg","sameAs":[]}</script>

    <!-- Elastic Search -->

    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <link rel="preconnect" href="https://d1io3yog0oux5.cloudfront.net/">
    <link rel="preconnect" href="https://qmod.quotemedia.com/">

    <link href="static/css/marathondh.webflow.df0b3b066.css" rel="stylesheet" type="text/css">
    <style>
        * {
            -webkit-font-smoothing: antialiased;
        }

        .material-icons,
        .material-icons-outlined,
        .material-icons-two-tone,
        .material-icons-round,
        .material-icons-sharp {
            font-weight: normal;
            font-style: normal;
            font-size: 1.25rem;
            line-height: 1.25rem;
            display: inline-block;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: 'liga';
        }

        .material-icons-s {
            font-size: 16px;
            line-height: 16px;
        }

        .embedly-embed {
            border-width: 0px;
        }

        .clipped {
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    </style>
    <link href="static/css/ir.stockpr.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="static/css/style.css">

    <link rel="shortcut icon"
        href="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/files/theme/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/files/theme/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png"
        href="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/files/theme/images/favicons/favicon-32x32.png"
        sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/files/theme/images/favicons/favicon-16x16.png"
        sizes="16x16">
    <link rel="icon" type="image/png"
        href="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/files/theme/images/favicons/android-chrome-192x192.png"
        sizes="192x192">
    <link rel="mask-icon"
        href="https://d1io3yog0oux5.cloudfront.net/_e48fc4cf4b00386f44ddd5a61029a3bd/marathondh/files/theme/images/favicons/safari-pinned-tab.svg">
    <meta name="theme-color" content="#ffffff">

    <script id="analyticsOptions" type="application/json">
{
    "domain": "ir.mara.com",
    "gaId": "G-QZQQFGKP21"}
</script>
    <script id="google-analytics" src="static/js/all.js"></script>
</head>

<body class="107627 page-type-qmod---quote ir  has-sub-nav">
    <div class="general-wrapper">
        <div id="skipLinks">
            <a href="#mainContent">Skip to main content</a>
            <a href="#sectionNav">Skip to section navigation</a>
            <a href="#footer">Skip to footer</a>
        </div>

        <div class="page-content">
            <div class="gradient">
                <div class="container-4 w-container">
                    <div class="contentholder">

                        <div class="stock-info quote-box qtool" data-qmod-tool="detailedquotetab"
                            data-qmod-params="{&quot;lang&quot;:&quot;en&quot;,&quot;showLogo&quot;:false,&quot;lowHigh&quot;:false,&quot;symbol&quot;:&quot;MARA&quot;}">
                            <span class="loader"></span>
                            <script type="text/template">
    <div class="row row-cols-md-3">
    	
    </div>
</script>
                        </div><!--end stock-info-->
                    </div>
                </div>
            </div>
            <div class="section_navbar wf-section" id="header">
                <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease"
                    data-easing2="ease" role="banner" class="navbar-2 w-nav">
                    <div class="container-vertical w-container">
                        <a href="index.html" aria-current="page" class="brand w-nav-brand w--current"><img
                                src="static/picture/644083797ee1062014e8507e_logosvg.png" loading="lazy" width="204"
                                alt="Marathon Digital Holdings" class="image-19"></a>
                        <nav class="nav-menu-2 w-nav-menu">
                            <div data-hover="true" data-delay="0" class="dropdownnavlink w-dropdown">
                                <div class="dropdown-toggle-2 w-dropdown-toggle">
                                    <a href="about-us.html" class="w-inline-block">
                                        <div class="navbar-link">About Us</div>
                                    </a>
                                    <img src="static/picture/64413d04cac7b068bf12cf49_arrow_drop_up.png" loading="lazy"
                                        alt="Toggle" class="arrow">
                                </div>
                                <nav class="navlist w-dropdown-list">
                                    <a href="about-us.html#buildings-blocks" class="dropdown-link w-dropdown-link">Our
                                        Building Blocks</a>
                                    <a href="about-us.html#esg" class="dropdown-link w-dropdown-link">ESG</a>
                                    <a href="about-us.html#bios" class="dropdown-link w-dropdown-link">Executive
                                        Bios</a>
                                    <a href="about-us.html#careers" class="dropdown-link w-dropdown-link">Careers</a>
                                    <a href="about-us.html#contact" class="dropdown-link w-dropdown-link">Contact</a>
                                </nav>
                            </div>
                            <div data-hover="true" data-delay="0" class="dropdownnavlink w-dropdown">
                                <div class="dropdown-toggle-2 w-dropdown-toggle">
                                    <a href="operations.html" class="w-inline-block">
                                        <div class="navbar-link">Operations</div>
                                    </a>
                                    <img src="static/picture/64413d04cac7b068bf12cf49_arrow_drop_up.png" loading="lazy"
                                        alt="Toggle" class="arrow">
                                </div>
                                <nav class="navlist w-dropdown-list">
                                    <a href="operations.html#fleet" class="dropdown-link w-dropdown-link">Global
                                        Fleet</a>
                                    <a href="operations.html#stats" class="dropdown-link w-dropdown-link">Stats</a>
                                </nav>
                            </div>
                            <a href="index1.html" class="navbar-link btn">Investors</a>
                            <a href="partner-with-us.html" class="navbar-link btn">Partner With Us</a>
                        </nav>
                        <div class="menu-button-2 w-nav-button">
                            <div class="icon-4 w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eq-container eq-container-primary">
                <header class="page-banner ">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <h1>Quote</h1>
                            </div>
                        </div>
                    </div>
                </header>
                <nav id="sectionNav" class="sub-navigation-wrapper" aria-label="Investors Section">
                    <div class="sub-navigation affixed">
                        <div class="container">
                            <a class="visible-xs visible-sm mobile-sub-nav-trigger collapsed" role="button"
                                data-toggle="collapse" data-target="#sub-navigation">
                                <div class="trigger-container">
                                    <div class="meat"></div>
                                    <div class="meat"></div>
                                    <div class="meat"></div>
                                </div>
                                Investors
                            </a>
                            <div class="collapse sb-nav clearfix" id="sub-navigation">
                                <h3>Investors</h3>
                                <ul>
                                    <li class="">
                                        <a href="index1.html" target="_self">Overview</a>
                                    </li>
                                    <li class="has-children dropdown">
                                        <a href="news-events.html" target="_self">News &amp; Events</a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="news-events.html" target="_self">Overview</a>
                                            </li>
                                            <li class="">
                                                <a href="press-releases.html" target="_self">Press Releases</a>
                                            </li>
                                            <li class="">
                                                <a href="ir-calendar.html" target="_self">IR Calendar</a>
                                            </li>
                                            <li class="">
                                                <a href="email-alerts.html" target="_self">Email Alerts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children dropdown">
                                        <a href="company-information.html" target="_self">Company Info</a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="company-information.html" target="_self">Overview</a>
                                            </li>
                                            <li class="">
                                                <a href="presentations.html" target="_self">Presentations</a>
                                            </li>
                                            <li class="">
                                                <a href="management-team.html" target="_self">Management Team</a>
                                            </li>
                                            <li class="">
                                                <a href="contacts.html" target="_self">Contacts</a>
                                            </li>
                                            <li class="">
                                                <a href="faq.html" target="_self">FAQ</a>
                                            </li>
                                            <li class="">
                                                <a href="analyst-coverage.html" target="_self">Analyst Coverage</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children dropdown">
                                        <a href="financial-information.html" target="_self">Financial Info</a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="financial-information.html" target="_self">Overview</a>
                                            </li>
                                            <li class="">
                                                <a href="financial-results.html" target="_self">Financial Results</a>
                                            </li>
                                            <li class="">
                                                <a href="income-statement.html" target="_self">Income Statement</a>
                                            </li>
                                            <li class="">
                                                <a href="balance-sheet.html" target="_self">Balance Sheet</a>
                                            </li>
                                            <li class="">
                                                <a href="cash-flow.html" target="_self">Cash Flow</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children active dropdown">
                                        <a href="" target="_self">Stock Data</a>
                                        <ul class="dropdown-menu">
                                            <li class="active active-landing">
                                                <a href="" target="_self">Quote</a>
                                            </li>
                                            <li class="">
                                                <a href="charts.html" target="_self">Charts</a>
                                            </li>
                                            <li class="">
                                                <a href="historical-data.html" target="_self">Historical Data</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children dropdown">
                                        <a href="sec-filings.html" target="_self">SEC Filings</a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="sec-filings.html" target="_self">Overview</a>
                                            </li>
                                            <li class="">
                                                <a href="all-sec-filings.html" target="_self">All SEC Filings</a>
                                            </li>
                                            <li class="">
                                                <a href="annual-reports.html" target="_self">Annual Reports</a>
                                            </li>
                                            <li class="">
                                                <a href="quarterly-reports.html" target="_self">Quarterly Reports</a>
                                            </li>
                                            <li class="">
                                                <a href="section-16-filings.html" target="_self">Section 16 Filings</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children dropdown">
                                        <a href="corporate-governance.html" target="_self">Governance</a>
                                        <ul class="dropdown-menu">
                                            <li class="">
                                                <a href="corporate-governance.html" target="_self">Overview</a>
                                            </li>
                                            <li class="">
                                                <a href="board-of-directors.html" target="_self">Board of Directors</a>
                                            </li>
                                            <li class="">
                                                <a href="board-committees.html" target="_self">Board Committees</a>
                                            </li>
                                            <li class="">
                                                <a href="governance-documents.html" target="_self">Governance
                                                    Documents</a>
                                            </li>
                                            <li class="">
                                                <a href="board-diversity.html" target="_self">Board Diversity</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="contact.html" target="_self">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <aside id="tertiaryNav">
                                <nav id="tertiary-navigation">
                                    <ul>
                                        <li class="sidebar-title">
                                            <h3>Stock Data</h3>
                                        </li>
                                        <li class="active active-landing">
                                            <a href="" target="_self">Quote</a>

                                        </li>
                                        <li class="">
                                            <a href="charts.html" target="_self">Charts</a>

                                        </li>
                                        <li class="">
                                            <a href="historical-data.html" target="_self">Historical Data</a>

                                        </li>
                                    </ul>
                                </nav>
                            </aside>
                            <main id="mainContent" class="main-content has-tertiary-nav">
                                <div class="detailed-quote" data-name="qmod">
                                    <div data-qmod-tool="interactivechart"
                                        data-qmod-params="{&quot;lang&quot;:&quot;en&quot;,&quot;symbol&quot;:&quot;MARA&quot;,&quot;volumeEnabled&quot;:false,&quot;chartType&quot;:0,&quot;chartTypeEnabled&quot;:false,&quot;marketSessionEnabled&quot;:false,&quot;compareEnabled&quot;:false,&quot;compareOptionsEnabled&quot;:false,&quot;eventsEnabled&quot;:false,&quot;dateRange&quot;:1,&quot;marketSession&quot;:1,&quot;compareOption&quot;:0,&quot;dateRangeList&quot;:[{&quot;visible&quot;:true},{&quot;visible&quot;:true},{&quot;visible&quot;:true},{&quot;visible&quot;:true},{&quot;visible&quot;:true},{&quot;visible&quot;:true},{&quot;visible&quot;:true},{&quot;visible&quot;:false},{&quot;visible&quot;:true},{&quot;visible&quot;:false},{&quot;visible&quot;:false}]}"
                                        class="qtool">
                                        <span class="loader"></span>
                                        <script type="text/template">
    <div class="qmod-ui-tool qmod-simplechart"> 
        <div class="qmod-header">
            <h2>Stock Quote</h2>
            <h3 class="company">{data.equityinfo.longname}</h3>
            <p class="symbol">{data.key.exLgName}: {data.symbolstring}</p>
            <div class="clear"></div>
        </div><!--end quote-header-->
        <div class="qmod-main-chart"></div><!--end main-chart-->
        <div class="qmod-chart-buttons-rs chart-tabs">
            <ul class="qmod-legend">
                <li rv-each-time="scope.binders.dateRange.list" rv-show="time.visible" rv-on-click="scope.binders.dateRange.change" rv-class-qmod-active="index|= scope.binders.dateRange.selected"><span class="qmod-btn-text">{time.label}</span></li>
            </ul>
        </div><!--end chart tabs-->
    </div>
</script>
                                    </div>
                                    <div data-qmod-tool="detailedquotetab"
                                        data-qmod-params="{&quot;lang&quot;:&quot;en&quot;,&quot;showLogo&quot;:false,&quot;lowHigh&quot;:false,&quot;symbol&quot;:&quot;MARA&quot;}"
                                        class="qtool">
                                        <script type="text/template">
    <div class="qmod-ui-tool qmod-detailedquote">
        <div class="qmod-quotehead">
            <div rv-unless="data.datatype | = 'n/a'" class="qmod-block-wrapper">
                <div class="pure-g">
                    <div rv-if="data.qhShowRight" class="pure-u-1 pure-u-md-1-2">
                        <div rv-if="data.lowHigh" class="qmod-head-right">
                            <div rv-if="data.pricedata.low" class="qmod-daylow"><span class="qmod-day-low">{tplLang.low| toLang tLang}: {data.pricedata.low | asQHLast tLang}</span><span class="qmod-day-high">{tplLang.high| toLang tLang}: {data.pricedata.high | asQHLast tLang}</span>
                                <div class="qmod-daylowbar"><span rv-style-left="data.dayhighLow.arrow" class="qmod-hl-arrow"><i aria-hidden="true" class="fa fa-caret-down"></i><span rv-class-qmod-hl-left="data.dayhighLow.arrowClass | call" class="qmod-hl-label"> {tplLang.prevclose| toLang tLang}: {data.pricedata.prevclose | asQHLast tLang}</span></span><span rv-style-width="data.dayhighLow.barPct" class="qmod-barpct">{tplLang.last| toLang tLang}: {data.pricedata.last | asQHLast tLang}</span></div>
                            </div>
                            <div rv-if="data.fundamental.week52high" class="qmod-daylow"><span class="qmod-day-low">{tplLang.yearlow| toLang tLang}: {data.fundamental.week52low.content | asQHLast tLang}</span><span class="qmod-day-high">{tplLang.yearhigh| toLang tLang}:  {data.fundamental.week52high.content | asQHLast tLang}</span>
                                <div class="qmod-daylowbar"><span rv-style-left="data.yearhighLow.arrow" class="qmod-hl-arrow"><i aria-hidden="true" class="fa fa-caret-down"></i><span rv-class-qmod-hl-left="data.yearhighLow.arrowClass" class="qmod-hl-label"> {tplLang.prevclose| toLang tLang}: {data.pricedata.prevclose | asQHLast tLang}</span></span><span rv-style-width="data.yearhighLow.barPct" class="qmod-barpct">{tplLang.last| toLang tLang}: {data.pricedata.last | asQHLast tLang}</span></div>
                            </div>
                        </div>
                        <div rv-if="data.tradeURL" class="qmod-head-right">
                            <div class="qmod-tradecont">
                                <a rv-href="data.tradeURLbuy">
                                    <button class="qmod-btn qmod-green">{tplLang.buyl| toLang tLang}</button>
                                </a>
                                <a rv-href="data.tradeURLsell">
                                    <button class="qmod-btn qmod-red">{tplLang.selll| toLang tLang}</button>
                                </a>
                            </div>
                        </div>
                        <div rv-if="data.showLogo" class="qmod-head-right">
                            <div class="qmod-cplogo"><img rv-src="'https://app.quotemedia.com/quotetools/getLogo?&amp;webmasterId=501&amp;symbol=' | postFix data.symbolstring" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="qmod-block-wrapper detailed-quote-information">
            <h2>Detailed Information</h2>
            <div class="quote-stat-module">
                <div class="header has-date">
                    <h3>Today</h3>
                    <div rv-if="data.pricedata.lasttradedatetime" class="date-time date">
                        <p>
                            <span rv-html="data.pricedata.lasttradedatetime | momentjs 'true' 'LLL' tLang"></span> <span class="qmod-datetimezone">{data.tz | asTimezone tLang}</span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
                <!--end header-->
                <div class="row">
                    <div rv-if="data.pricedata.last" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.last| toLang tLang}</div>
                            <div class="stat">{data.pricedata.last | asQHLast tLang }</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.sharevolume" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.volume| toLang tLang}</div>
                            <div class="stat">{data.pricedata.sharevolume | numeraljs '0.00a'}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.change" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.change| toLang tLang}</div>
                            <div class="stat"><span rv-qmodchange="data.pricedata.change" class="qmod-change">{data.pricedata.change | asQHLast tLang }</span></div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.changepercent" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.changepct| toLang tLang}</div>
                            <div rv-html="data.pricedata.changepercent | numeraljs '0.00' '0.00' | postFix '%'" class="stat"></div>
                        </div>
                    </div>                    
                    <div rv-if="data.pricedata.open" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.open| toLang tLang}</div>
                            <div class="stat">{data.pricedata.open | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.prevclose" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.prevclose| toLang tLang}</div>
                            <div class="stat">{data.pricedata.prevclose | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.high" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.high| toLang tLang}</div>
                            <div class="stat">{data.pricedata.high | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.low" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.low| toLang tLang}</div>
                            <div class="stat">{data.pricedata.low | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.bid" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.bid| toLang tLang}</div>
                            <div class="stat">{data.pricedata.bid | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.bidsize" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.bidsize| toLang tLang}</div>
                            <div class="stat">{data.pricedata.bidsize | numeraljs '0'}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.ask" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.ask| toLang tLang}</div>
                            <div class="stat">{data.pricedata.ask | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.asksize" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.asksize| toLang tLang}</div>
                            <div class="stat">{data.pricedata.asksize | numeraljs '0'}</div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div><!--end stat-module-->
            
            <div rv-unless="data.afterhours.last | = 'N/A'" class="quote-stat-module">
                <div class="header has-date">
                    <h3>After Hours</h3>
                    <div class="date-time">
                        <p>
                            <span rv-html="data.afterhours.lasttradedatetime | momentjs 'true' 'LLL' tLang"></span>&nbsp;{data.tz | asTimezone tLang}
                        </p>
                    </div>
                </div><!--end header-->
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">Price</div>
                            <div class="stat"><span rv-html="data.afterhours.last | asQHLast tLang | asCurrency data.key.currency tLang" class="qmod-last"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">Change</div>
                            <div class="stat">{data.afterhours.change | asQHLast tLang }</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">% Chg</div>
                            <div class="stat"><span rv-html="data.afterhours.changepercent | numeraljs '0.00' | postFix '%' tLang"></span></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">Volume</div>
                            <div class="stat"><span rv-if="data.afterhours.sharevolume" class="qmod-volume"><span class="qmod-sm-hide">{data.afterhours.sharevolume | numeraljs '0,0' 'N/A' tLang}</span></span></div>
                        </div>
                    </div>
                                    </div><!--end row-->
            </div><!--end quote-stat-module-->
            
            <div class="quote-stat-module" rv-if="data.fundamental.dividend">
                <div class="header">
                    <h3>Dividend</h3>
                </div>
                <div class="clear"></div>
                <!--end header-->
                <div class="row">
                    <div rv-if="data.fundamental.dividend" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.dividend| toLang tLang}</div>
                            <div class="stat">{data.fundamental.dividend.latestamount.content | asQHLast tLang} {data.fundamental.dividend.latestamount.currency}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.dividend" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.yield| toLang tLang}</div>
                            <div class="stat">{data.fundamental.dividend.yield| numeraljs}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.dividend.paydate" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.divpaydate| toLang tLang}</div>
                            <div class="stat">{data.fundamental.dividend.paydate}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.dividend" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.divdate| toLang tLang}</div>
                            <div class="stat">{data.fundamental.dividend.date}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.dividend.frequency" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.divfreq| toLang tLang}</div>
                            <div class="stat">{data.fundamental.dividend.frequency}</div>
                        </div>
                    </div>           
                </div>
                <!--end row-->
            </div><!--end stat-module-->
            <div class="quote-stat-module">
                <div class="header">
                    <h3>Share Information</h3>
                </div>
                <div class="clear"></div>
                <!--end header-->
                <div class="row">
                    <div rv-if="data.fundamental.week52high" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.yearhigh| toLang tLang}</div>
                            <div class="stat">{data.fundamental.week52high.content | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.week52low" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.yearlow| toLang tLang}</div>
                            <div class="stat">{data.fundamental.week52low.content | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.key.exShName" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.exchange| toLang tLang}</div>
                            <div class="stat"><a rv-title="data.key.exLgName" rv-on-mouseenter="data.qmtooltip" class="qmod-tooltip">{data.key.exShName}</a></div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.sharesoutstanding" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.sharesout| toLang tLang}</div>
                            <div class="stat">{data.fundamental.sharesoutstanding | numeraljs '0.00a'}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.marketcap" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.marketcap| toLang tLang}</div>
                            <div class="stat">{ data.fundamental.marketcap | numeraljs '0.00a'}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.eps" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.eps| toLang tLang}</div>
                            <div class="stat">{data.fundamental.eps | numeraljs}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.peratio" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.peratio| toLang tLang}</div>
                            <div class="stat">{data.fundamental.peratio | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.fundamental.pbratio" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.pbratio| toLang tLang}</div>
                            <div class="stat">{data.fundamental.pbratio | asQHLast tLang}</div>
                        </div>
                    </div>
                    <div rv-if="data.pricedata.vwap" class="col-md-4 col-sm-6 col-xs-12">
                        <div class="qmod-line">
                            <div class="title">{tplLang.vwap| toLang tLang}</div>
                            <div class="stat">{data.pricedata.vwap| numeraljs}</div>
                        </div>
                    </div>
                </div><!--end row-->
            </div><!--end stat-module-->
        </div>
    </div>
</script>
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </div><!-- //container-->
            </div><!-- //eq-container -->
            <div class="eq-container">
                <div class="module-quick-links" role="navigation" aria-label="Helpful Investor Relations pages">
                    <ul>
                        <li>
                            <a href="email-alerts.html" class="email">Email Alerts</a>
                        </li>
                        <li>
                            <a class="company-profile" href="company-information.html">Company Profile</a>
                        </li>
                        <li>
                            <a href="contacts.html" class="contacts">Contacts</a>
                        </li>
                        <li>
                            <a href="static/file/rss.xml" class="rss" target="_blank" rel="noopener">RSS News Feed</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footersection wf-section" id="footer">
                <div class="container w-container">
                    <div class="w-layout-grid footergrid">
                        <div id="w-node-_26d1919b-0998-d630-9193-7a85b677142e-b677142b" class="footercolumn">
                            <img src="static/picture/644083797ee1062014e8507e_logosvg.png" loading="lazy"
                                alt="Marathon Digital Holdings" class="image-17">
                            <a href="mailto:info@mara.com" class="footerlink footeraddress">info@mara.com</a><a
                                href="tel:+18008041690" class="footerlink footeraddress">1.800.804.1690</a>
                            <p class="footerlink footeraddress">101 NE 3rd Avenue #1200<br>Fort Lauderdale, FL 33301</p>
                            <div class="footericons">
                                <a href="https://twitter.com/MarathonDH" target="_blank" class="w-inline-block"><img
                                        src="static/picture/64544515957cf4fe0380d615_twitter.svg" loading="lazy"
                                        alt="Twitter" class="socialfooter"></a>
                                <a href="https://t.co/MWQGxj6Esw" target="_blank" class="w-inline-block"><img
                                        src="static/picture/64544515ef9f696a8eb74ddb_linkedin.svg" loading="lazy"
                                        alt="Linkedin" class="socialfooter"></a>
                                <a href="https://instagram.com/marathondigitalholdings/" target="_blank"
                                    class="w-inline-block"><img
                                        src="static/picture/6454451502eb9e56e9a33870_instagram.svg" loading="lazy"
                                        alt="Instagram" class="socialfooter"></a><a
                                    href="https://facebook.com/MarathonDigitalHoldings" target="_blank"
                                    class="w-inline-block"><img
                                        src="static/picture/645445129a97795a65c40122_facebook.svg" loading="lazy"
                                        alt="Facebook" class="socialfooter"></a>
                                <a href="https://youtube.com/@MarathonDigitalHoldings" target="_blank"
                                    class="w-inline-block"><img
                                        src="static/picture/64544515ef9f696353b74dda_youtube.svg" loading="lazy"
                                        alt="Youtube" class="socialfooter"></a>
                            </div>
                        </div>
                        <div id="w-node-_26d1919b-0998-d630-9193-7a85b677143d-b677142b" class="footercolumn">
                            <a href="about-us.html" class="w-inline-block">
                                <h5 class="heading-7">About Us</h5>
                            </a>
                            <a href="about-us.html#buildings-blocks" class="footerlink">Our Building Blocks</a>
                            <a href="about-us.html#esg" class="footerlink">ESG</a>
                            <a href="about-us.html#bios" class="footerlink">Executive Bios</a>
                            <a href="about-us.html#careers" class="footerlink">Careers</a>
                            <a href="about-us.html#contact" class="footerlink">Contact</a>
                        </div>
                        <div id="w-node-_26d1919b-0998-d630-9193-7a85b677144a-b677142b" class="footercolumn">
                            <a href="operations.html" class="w-inline-block">
                                <h5 class="heading-7">Operations</h5>
                            </a>
                            <a href="operations.html#fleet" class="footerlink">Global Fleet</a>
                            <a href="operations.html#stats" class="footerlink">Stats</a>
                        </div>
                        <div id="w-node-_26d1919b-0998-d630-9193-7a85b6771451-b677142b"
                            class="footercolumn mining-value">
                            <h5 class="heading-7">Mining Value</h5>
                            <a href="#" class="footerlink">Glossary</a><a href="#" class="footerlink">MARA Blog</a><a
                                href="#" class="footerlink">Press Releases</a><a href="#" class="footerlink">Thiel
                                Talks</a>
                        </div>
                        <div id="w-node-_26d1919b-0998-d630-9193-7a85b677145c-b677142b" class="footercolumn">
                            <h5 class="heading-7">More</h5>
                            <a href="index1.html" class="footerlink">Investors</a><a href="partner-with-us.html"
                                class="button-4 w-button">Partner with Us</a>
                        </div>
                    </div>
                    <div class="footerlastrow">
                        <div class="main-paragraph copyright">© 2023 Marathon Digital Holdings, Inc. All rights
                            reserved.</div>
                        <div class="div-block-25">
                            <a href="disclaimer.html" class="w-inline-block">
                                <div class="footerlink">Disclaimer</div>
                            </a>
                            <a href="privacy-policy.html" class="w-inline-block">
                                <div class="footerlink">Privacy</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="eq-container">

            <div class="qmod-attribution">
                <div class="container">
                    <div class="q-mod-attribution disclaimer">
                        <div class="row justify-content-center">
                            <div class="col-md-10 center">
                                <p>
                                    Market Data copyright &copy; 2023 <a href="http://www.quotemedia.com"
                                        target="_blank" rel="nofollow noopener">QuoteMedia</a>. Data delayed
                                    15 minutes unless otherwise indicated (view
                                    <a href="http://www.quotemedia.com/legal/tos/#times" target="_blank"
                                        rel="nofollow noopener">delay times</a> for all exchanges).
                                    <span class="qmf-rt">RT</span>=Real-Time, <span class="qmf-non-rt">EOD</span>=End of
                                    Day,
                                    <span class="qmf-non-rt">PD</span>=Previous Day. Market Data powered by
                                    <a href="http://www.quotemedia.com" target="_blank"
                                        rel="nofollow noopener">QuoteMedia</a>.
                                    <a href="http://www.quotemedia.com/legal/tos/" target="_blank"
                                        rel="nofollow noopener">Terms of Use</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script id="companyVars" type="application/json">
{
    "asset_url": "https:\/\/d1io3yog0oux5.cloudfront.net\/_e48fc4cf4b00386f44ddd5a61029a3bd\/marathondh",
    "website_base_url": "https:\/\/ir.mara.com",
    "ir_base_url": "",
    "hCaptchaSiteKey": "778a5748-d323-4b73-a06c-9625642de8bc",
    "isQmod": true}
</script>


        <script src="static/js/all1.js"></script>

        <script src="static/js/jquery-3.5.1.min.dc5e7f18c8.js"></script>
        <script src="static/js/webflow.a80f70b19.js"></script>

        <script id="qmod" src="static/js/qmodLoader.js" data-qmod-wmid="93303" data-qmod-env="app"
            data-qmod-version="v1.48.0" defer=""></script>
    </div><!-- //general-wrapper-->
</body>

</html>